@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @ConfigurationManager.AppSettings["Greeting"]
    This is new version of software
    <br />
    Pushing new checkin to Github
    <br />
    One more code checkin!
</div>
